   <!-- banner -->
    <div class="<%= current_page?(root_url) ? 'banner' : 'inner-banner' %>" id="home">
        <!-- header -->
        <header>
          <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
            <h1>
              <%= link_to APP_NAME, root_path, id: "logo" %>
            </h1>
            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto text-center">
                    <li class="nav-item mr-3 <%= current_class?(root_path) %>"><%= link_to "Home", root_path, class: "nav-link" %></li>
                    <li class="nav-item mr-3 <%= current_class?(about_path) %>"><%= link_to "About", about_path, class: "nav-link" %></li>
                    <li class="nav-item mr-3 <%= current_class?(contact_path) %>"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
                    <li class="nav-item mr-3 <%= current_class?(help_path) %>"><%= link_to "Help", help_path, class: "nav-link" %></li>
                    <% if logged_in? %>
                      <li class="nav-item mr-3 <%= current_class?(users_path) %>"><%= link_to "Users", users_path, class: "nav-link" %></li>
                      <li class="nav-item dropdown mr-3 <%= current_class?(edit_user_path(current_user)) %>">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              Account
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <%= link_to "Profile", current_user, class: "dropdown-item" %>
                            <%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %>
                            <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %>
                          </div>
                      </li>
                    <% else %>
                      <li class="nav-item mr-3 <%= current_class?(login_path) %>"><%= link_to "Login", login_path, class: "nav-link" %></li>
                    <% end %>
                </ul>
            </div>
          </nav>
        </header>
        <!-- //header -->
        <% if current_page?(root_url) %>
        <div class="container">
            <!-- banner-text -->
            <div class="banner-text">
                <div class="slider-info">
                  <h3>Welcome To Community</h3>
                  <p>Connect, read &amp; post</p>
                  <% if !logged_in? %>
                  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary mt-3" %>
                  <% end %>
                </div>
              </div>
        </div>
        <% end %>
        <!-- //container -->
    </div>
    <!-- //banner -->

    